@charset "utf-8";
/* CSS Document */

a:link {
	color: #005A84;
}

a:visited {
	color: #4A4335;
}

a.footnote:link {
	color: #005A84;
	text-decoration: none;
}

.announcements {
	line-height: 20px;
}

.announcementsHdr {
	color: #005A84;
	font-weight: bold;
	font-size: 12px;
	text-transform: uppercase;
	font-family: Helvetica, Arial;
}

body, td {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #4A4335;
}

#content div.breadcrumb, #content div.breadcrumb a:link, #content div.breadcrumb a:visited {
	color: #AFA794;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-decoration: none;
}

#content div.breadcrumb a:hover {
	text-decoration: underline;
}

#content {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px; 
	line-height: 20px;
	color: #4A4335;
}

#content a:visited {
	color: #4A4335;
	font-size: 11px;
	text-decoration: underline;
}

.emphasis {
	color: #005A84;
}

.calendar_event {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 11px;
	line-height: 20px;
	color: #695E4A;
	padding-top: 8px;
}

#footer {
	line-height: 24px;
}

#footerLinks, #footerLinks a:link, #footerLinks a:visited{
	text-decoration: none;
	color: #BAAE98;
	font-size: 10px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
}

#footerLinks a:hover {
	text-decoration: underline;
	color: #95876D;
}

.form2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 16px;
	color: #695e4a;
	font-weight: bold;
	text-align: left;
}

.hdr_level1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 12px;
	line-height: 20px;
	color: #0D6384;
	font-weight: bold;
	font-size: 14px;
}

.hdr_level2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 12px;
	line-height: 20px;
	color: #0D6384;
	padding-top: 14px;
}

.hdr_level3 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 12px;
	line-height: 20px;
	color: #695E4A;
	padding-top: 8px;
}

input, select, textarea {
	color: #695E4A;
	font-size: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

input.form2 {
	color: #695E4A;
	font-size: 12px;
	line-height: 16px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

.light {
	font-weight: normal
}

.mission {
	color: #669CB5;	
	font-size: 11px;
	line-height: 24px;
}

.note {
	font-size: 10px;
	line-height: 14px;
	padding-right: 60px;
}

.no_emphasis {
	font-weight: normal;
}

.requiredField {
	color: #964141;
	text-align: right;
}

.rowHighlight {
	background-color: #F4F5EF;
}

.searchBox {
	color: #695E4A;
	font-size: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

.space {
	padding-top: 17px;
}

a.searchSite {
	color: #95876D;
	font-size: 10px;
}